* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  font-weight: 200;
}

a {
  color: #fff;
  text-decoration: none;
}

a[class^="btn"] {
  display: inline-block;
  margin: 25px 25px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  padding: 1em 2em;
  letter-spacing: .1em;
  border-radius: 5px;
  transition: all 300ms;
  background: #F012BE;
  box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

a[class^="btn"]:hover {
  box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
  transform: translate(0px, -10px);
}

.container {
  margin: 0 auto;
  position: relative;
  top: 20px;
}

.inner {
  text-align: center;
}

#main-cat {
  width: 100%;
  max-width: 400px;
}

img {
  margin-bottom: 0;
}

#contact {
  position: fixed;
  background-color: #F012BE;
  right: 2%;
  bottom: 0;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: .5em 1em .4em 1em;
  letter-spacing: .1em;
  border-radius: 5px 5px 0 0;
  transition: all 300ms;
}

#contact:hover {
  padding: .8em 1em .7em 1em;
}

#contact-small {
  display: none;
}

@media only screen and (max-width: 769px) {
  .container {
    top: 0;
  }

  a[class^="btn"],
  #contact-small {
    display: inline-block;
    margin: 25px 0 0 0;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    padding: .8em 1.5em;
    letter-spacing: .1em;
    border-radius: 5px;
    transition: all 300ms;
    background: #F012BE;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: all ease-in-out 300ms;
    width: 275px
  }

  #contact {
    display: none;
  }


  p.up {
    position: relative;
    bottom: 30px;
  }
}
